body {
  margin: 0;
  height: 90vh;
  width: 100vw;
  font-size: 22px; }

#main {
  height: 90vh;
  width: 100vw;
  overflow-y: auto;
  margin: 0;
  user-select: none; }
  #main > .header {
    background-color: #ff5aff;
    border: 1px solid #3c14ff;
    color: white;
    width: calc(100vw - 4px);
    height: 7vh;
    line-height: 7vh;
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    display: flex; }
    #main > .header > .btnDiv {
      width: 7vh;
      border: 1px solid #3c14ff; }
    #main > .header > .title {
      width: 86vw;
      border: 1px solid #3c14ff; }
  #main > .data {
    height: 82vh;
    overflow-y: scroll;
    background-color: #fff0ff;
    text-align: center;
    font-size: 22px;
    font-weight: 800; }
    #main > .data > .musicLineData {
      display: flex;
      height: 6vh;
      line-height: 7vh;
      border-bottom: 1px solid black; }
      #main > .data > .musicLineData > .music__title {
        width: 60vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -moz-user-select: text;
        -webkit-user-select: text;
        -ms-user-select: text;
        user-select: text; }
      #main > .data > .musicLineData > .music__difficult {
        border-left: 1px solid black;
        width: 13vw; }
      #main > .data > .musicLineData > .music__level {
        text-align: left;
        border-left: 1px solid black;
        width: 14vw; }
      #main > .data > .musicLineData > .music__cnt {
        text-align: center;
        border-left: 1px solid black;
        width: 13vw; }
      #main > .data > .musicLineData > .titleLV {
        text-align: center; }
      #main > .data > .musicLineData > .topTitle {
        display: flex;
        padding-left: 10px;
        width: calc(60vw - 10px); }
        #main > .data > .musicLineData > .topTitle > .sortPatternPrint {
          font-size: 16px; }

.modal {
  background-color: rgba(60, 60, 60, 0.6);
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: none;
  top: 0;
  left: 0; }
  .modal > .modalArea {
    width: 90vw;
    height: 80vh;
    position: absolute;
    top: 10vh;
    left: 5vw;
    background-color: #fff0ff;
    border-radius: 25px;
    z-index: 100; }
    .modal > .modalArea .top {
      text-align: center; }
    .modal > .modalArea .registerArea {
      padding-left: 10px;
      padding-right: 10px; }
      .modal > .modalArea .registerArea > div {
        height: 10vh;
        margin-bottom: 1vh; }
        .modal > .modalArea .registerArea > div p {
          width: 30vw;
          margin: 0; }
        .modal > .modalArea .registerArea > div input {
          width: 80vw;
          height: 5vh; }
        .modal > .modalArea .registerArea > div > div {
          display: flex; }
          .modal > .modalArea .registerArea > div > div > div {
            width: 5vh;
            height: 5vh;
            text-align: center;
            line-height: 5vh;
            border: 1px solid black;
            border-left: 0;
            background-color: white; }
          .modal > .modalArea .registerArea > div > div > div:first-child {
            border: 1px solid black; }
          .modal > .modalArea .registerArea > div > div > .selectorBtn {
            width: 12vh; }
          .modal > .modalArea .registerArea > div > div .levelPrint, .modal > .modalArea .registerArea > div > div .rankPrint {
            background-color: white;
            width: 8vh; }
          .modal > .modalArea .registerArea > div > div .minus, .modal > .modalArea .registerArea > div > div .plus {
            background-color: #ffff64;
            width: 8vh; }
          .modal > .modalArea .registerArea > div > div .scoreBtn {
            width: 17vw; }
          .modal > .modalArea .registerArea > div > div .rankBtn {
            width: 6vh; }
      .modal > .modalArea .registerArea .oneLine {
        display: flex;
        height: 5vh; }
    .modal > .modalArea .registerBtn {
      text-align: center;
      width: 33vw;
      margin: auto;
      border: 1px solid black;
      background-color: #ff8c28;
      color: white;
      font-weight: 800; }
  .modal .hisArea {
    overflow-y: auto; }
    .modal .hisArea > .hisTitle {
      text-align: center;
      margin: 0;
      font-weight: 700;
      font-size: 21px; }
    .modal .hisArea .rankCntArea {
      margin-bottom: 1vh;
      display: flex;
      flex-wrap: wrap; }
      .modal .hisArea .rankCntArea > div {
        width: 49%;
        height: 5vh;
        margin: auto;
        display: flex; }
        .modal .hisArea .rankCntArea > div > p {
          text-align: center;
          margin: 0;
          font-weight: 700;
          font-size: 19px;
          line-height: 5vh; }
        .modal .hisArea .rankCntArea > div > .per {
          text-align: center;
          margin: 0 auto;
          font-size: 15px; }
    .modal .hisArea .musicRanking {
      display: flex; }
      .modal .hisArea .musicRanking p {
        margin: 0;
        font-size: 15px; }
      .modal .hisArea .musicRanking .avgRank {
        width: 12%;
        margin-right: 3%;
        text-align: right; }
        .modal .hisArea .musicRanking .avgRank__Head {
          width: 12%;
          margin-right: 3%;
          text-align: right;
          font-weight: 600; }
      .modal .hisArea .musicRanking .avgtitle {
        width: 55%;
        display: flex; }
        .modal .hisArea .musicRanking .avgtitle > p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .modal .hisArea .musicRanking .avgtitle > .title {
          width: 80%; }
        .modal .hisArea .musicRanking .avgtitle__Head {
          width: 53%;
          font-weight: 600; }
      .modal .hisArea .musicRanking .avgPer {
        width: 13%; }
        .modal .hisArea .musicRanking .avgPer__Head {
          width: 20%;
          font-weight: 600; }
      .modal .hisArea .musicRanking .avgCnt {
        width: 13%;
        text-align: right;
        margin-right: 3%; }
        .modal .hisArea .musicRanking .avgCnt__Head {
          width: 9%;
          text-align: right;
          margin-right: 0%;
          font-weight: 600; }

.songModal {
  display: block; }
  .songModal > .songArea {
    overflow-y: scroll; }
    .songModal > .songArea > .songDataHeader {
      display: flex;
      width: 88vw;
      margin: auto; }
      .songModal > .songArea > .songDataHeader > .songData--title {
        width: 73vw;
        display: flex; }
        .songModal > .songArea > .songDataHeader > .songData--title > p {
          width: 20vw;
          margin: 0;
          font-size: 17px; }
        .songModal > .songArea > .songDataHeader > .songData--title > .songTitleArea {
          width: 53vw;
          font-size: 17px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          -moz-user-select: text;
          -webkit-user-select: text;
          -ms-user-select: text;
          user-select: text; }
      .songModal > .songArea > .songDataHeader > .songData--playCnt {
        width: 15vw;
        font-size: 17px; }
    .songModal > .songArea .rankCntArea {
      display: flex;
      flex-wrap: wrap; }
      .songModal > .songArea .rankCntArea > div {
        width: 49%;
        margin: auto;
        display: flex; }
        .songModal > .songArea .rankCntArea > div > p {
          text-align: center;
          margin: 0;
          font-size: 20px; }
        .songModal > .songArea .rankCntArea > div > .per {
          text-align: center;
          margin: 0 auto;
          font-size: 15px; }
    .songModal > .songArea .optionDataScoreArea > div {
      display: flex;
      font-size: 14px; }
      .songModal > .songArea .optionDataScoreArea > div > div {
        width: 20%; }
        .songModal > .songArea .optionDataScoreArea > div > div p {
          text-align: center;
          margin: 0;
          font-size: 14px; }
        .songModal > .songArea .optionDataScoreArea > div > div div {
          line-height: 3vh; }
        .songModal > .songArea .optionDataScoreArea > div > div .opScore, .songModal > .songArea .optionDataScoreArea > div > div .opRank {
          display: flex;
          margin: auto; }
          .songModal > .songArea .optionDataScoreArea > div > div .opScore > .opScRank, .songModal > .songArea .optionDataScoreArea > div > div .opRank > .opScRank {
            width: 11vw;
            font-size: 13px;
            text-align: left; }
          .songModal > .songArea .optionDataScoreArea > div > div .opScore > .opGaRank, .songModal > .songArea .optionDataScoreArea > div > div .opRank > .opGaRank {
            width: 7vw;
            margin-left: 3vw;
            font-size: 13px;
            text-align: left; }
          .songModal > .songArea .optionDataScoreArea > div > div .opScore > .opScCnt, .songModal > .songArea .optionDataScoreArea > div > div .opRank > .opScCnt {
            font-size: 13px;
            text-align: left; }
    .songModal > .songArea .optionDataScoreArea > p {
      font-size: 17px;
      line-height: 4vh;
      margin: 0; }
    .songModal > .songArea .DataHistory > p {
      font-size: 17px;
      line-height: 4vh;
      margin: 0; }
    .songModal > .songArea .DataHistory > .dataHisArea {
      display: flex;
      font-size: 14px;
      flex-wrap: wrap;
      margin-bottom: 1vh;
      border-bottom: 1px solid rgba(60, 60, 60, 0.6);
      line-height: 3vh; }
      .songModal > .songArea .DataHistory > .dataHisArea > div {
        width: 9%; }
      .songModal > .songArea .DataHistory > .dataHisArea > .hisDate {
        margin-left: 1%;
        width: 52%;
        text-align: left; }
      .songModal > .songArea .DataHistory > .dataHisArea > .hisScore {
        width: 12%; }
      .songModal > .songArea .DataHistory > .dataHisArea > .hisOption {
        width: 6%; }
      .songModal > .songArea .DataHistory > .dataHisArea > .hisMemo {
        margin-left: 2.5%;
        width: 95%;
        color: #ff3232; }

.select {
  color: white;
  background-color: #3282ff !important; }

.another {
  color: #ff3232; }
  .another--select {
    color: white;
    background-color: #ff3232 !important; }

.hyper {
  color: #b9b900; }
  .hyper--select {
    color: white;
    background-color: #b9b900 !important; }

.normal {
  color: #0064ff; }
  .normal--select {
    color: white;
    background-color: #0064ff !important; }

.begginer {
  color: #00cd00; }
  .begginer--select {
    color: white;
    background-color: #00cd00 !important; }

.legen {
  color: magenta; }
  .legen--select {
    color: white;
    background-color: magenta !important; }

/*# sourceMappingURL=main.css.map */
